// Custom styles.

// 主页文章添加阴影效果
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

// 归档页列表项样式
.post-archives {
  margin-top: 30px;
  margin-bottom: 30px;
}

// 文章内链接文本设置为蓝色，鼠标划过时文字颜色加深，并显示下划线
.post-body p a {
  color: #0593d3;
  border-bottom: none;
  &:hover {
    color: #fc6423;
    text-decoration: underline;
  }
}

// 移除 time 标签超链接样式
.posts-expand .post-meta time {
  border-bottom: none;
  cursor: auto;
}

// 移除侧边栏链接前面的小点
.links-of-author a:before,
.links-of-author .exturl:before {
  display: none;
}

.links-of-author a,
.links-of-author .exturl {
  margin-left: 10px;
  margin-right: 10px;
}